<h3>Prodotti Più Costosi</h3>

@foreach (var prodotto in Model)
{
    <a asp-page="/Details" asp-route-id="@prodotto.Id" class="fs-6">@prodotto.Nome</a> // metto il link al prodotto
    <p class="fs-6" style=" display: inline;">@prodotto.Prezzo.ToString("F2") €</p> // F2 = formatto il prezzo a due decimali
    <p class="fs-6">@prodotto.CategoriaNome</p>
}