<h3>Prodotti Più Costosi</h3>

@foreach (var prodotto in Model)
{
    <strong class="fs-6" style="text-decoration: underline;">@prodotto.Nome</strong>
    <p class="fs-6" style=" display: inline;">@prodotto.Prezzo.ToString("F2") €</p>
    <p class="fs-6">@prodotto.CategoriaNome</p>
}