<form method="get" asp-page="/Search" class="d-flex">
    <input type="text" name="q" class="form-control me-2" placeholder="Cerca prodotto"
        value="@Context.Request.Query["q"]" />
    <button type="submit" class="btn btn-success mx-2 my-4">Cerca</button>
</form>