@page
@model CancellaProdottoModel
@{
    ViewData["Title"] = "Modifica Prodotto";
}
<h1>@ViewData["Title"]</h1>

<h1>Stai per eliminare @Model.Prodotto.Nome </dialog></h1>
<div>
    <form method="post">
        <button type="submit" class="btn btn-primary">Elimina</button>
    </form>
    <a asp-page="/Prodotti">Torna a Prodotti</a>
</div