@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://piattoricette.it/wp-content/uploads/2024/03/Italian-Marble-Mortar-and-Pestle.jpg" width="800" height="600">
    <h1 class="display-4">Qui il pesto è tua casa</h1>
    <p> - Tutto il necessario per creare il tuo pesto - </p>
</div>