@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="titolo">Supermercato Bootstrap</h1> <!--intestazione-->
        
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://png.pngtree.com/background/20230618/original/pngtree-fruits-and-vegetables-picture-image_3712726.jpg" class="d-block w-100"
                        alt="carosello1">
                </div>
                <div class="carousel-item">
                    <img src="https://dummyimage.com/1200x673/000/fff" class="d-block w-100"
                        alt="carosello2">
                </div>
                <div class="carousel-item">
                    <img src="https://dummyimage.com/1200x673/000/fff" class="d-block w-100"
                        alt="carosello3">
                </div>
</div>
