@page
@model Dashboard
@{
    ViewData["Title"] = "Dashboard";
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="row"> @*divido il contenuto in 3 colonne (col-4) e ogni colonna include una partial view con il modello corrispondente*@
        <div class="col-4">
            <partial name="_ProdottiCostosi" model="Model.ProdottiCostosi" />
        </div> 
        <div class="col-4">
            <partial name="_ProdottiRecenti" model="Model.ProdottiRecenti" />
        </div>
        <div class="col-4"> 
            <partial name="_ProdottiPerCategoria" model="Model.ProdottiPerCategoria" />
        </div>
    </div>
</div>